<html>
    <head>
<link href="/assets/style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
            <ul style="display: flex;list-style-type: none; ">
                    <li>&larr;<a href="/">Back</a></li>
            </ul>

        <p>Copy and paste on your URL above &uarr; the following path: <code>http://localhost:3000/person/UserName?querystring=11223344556677889900</code></p>
        
        <!-- EJS Embedded Javascript -->
        <h1>Person: <%= ID %></h1>
        <h1>My QUERYSTRING is: <%= QUERYSTRING %></h1>
        <!-- //EJS Embedded Javascript -->

    </body>
</html>