<!DOCTYPE html>
<html>
<head>
  <title>Thank You</title>
</head>
<body>

    <a href="/">← Back to Home</a>

  <h2>Thank You, <%= firstName %> <%= lastName %>!</h2>

  <p>Your form was submitted successfully.</p>


</body>
</html>
