body{
    background-color: darkgray;
    font-family: Lato;
    font-weight: normal;
    letter-spacing: 3px;
    color: #9e379e;
    padding: 5px;
    font-weight: 100;
}
ul li a {padding-right: 20px;font-weight: bold;font-size: 20px;}
.form-content{position: fixed;text-align: right;top:20%;left:30%;font-size: 40px}
form{padding-top: 20px;}
form input{font-size: 40px;padding: 0px;}
button{padding: 10px 20px 10px 20px;font-size: 20px;}
p{font-family: Consolas;font-size: 20px;letter-spacing: 0px;}
code{font-family: Helvetica;letter-spacing: 2px;background-color:#424242;color:whitesmoke;padding:5px 15px 5px 15px;}